
.card_dog{
    border-radius: 10%;
    background-color: yellow;
    width: 300px;
    height: 330px;
    margin: 1rem;
}

.card_img img{
    margin-left: 3rem;
    margin-top: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card_contain{
    color: white;
}