
.card_dog{
    border-radius: 10%;
    background-color: #d9b48d;
    width: 300px;
    height: 330px;
    margin: 1rem;
}

.card_dog:hover{
    box-shadow: 10px 9px 9px 6px #979797;
}

.card_img img{
    margin-left: 3rem;
    margin-top: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card_contain{
    color: #6c6c6c;
    text-align: center;
}