.form_container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formulario{
    line-height: 2.5rem;
    
}
.temp_class{
    display: flex;
    flex-direction: row;
}

.list_temp{
    display: flex;
    flex-direction: row;
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: bold;
}

.title_form{
    justify-content: center;
    margin: 1rem 
}

.vista_previa{
    background-color: yellow;
    width: 400px;
    height: 400px;
    border-radius: 10%;
    
}

.vista_name{
    text-align: center;
    font-size: 10px;
    margin: .5rem;
}

.vista_peso{
    text-align: center;
    font-size: 15px;
    margin: .5rem;
}

.vista_life{
    text-align: center;
    font-size: 15px;
    margin: .5rem;
}

.vista_alt{
    text-align: center;
    font-size: 15px;
    margin: .5rem;
}

.vista_img img{
    margin-left: 6.5rem;
    margin-top: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

