.form_container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.h1_form{
    height: 50px;
}

.btn_formVolver{
    width: 150px;
}

.volver{
    margin-top: 3rem;
    margin-left: 3rem;
}

.form{
    margin-top: 6rem;
    margin-left: 3rem;
}

.formulario{
    line-height: 2.5rem;
    
}
.temp_class{
    display: flex;
    flex-direction: row;
}

.list_temp{
    display: flex;
    flex-direction: row;
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: bold;
}

.list_temp button{
    border-radius: 50%;
    border-color: #d9b48d;
    width: 18px;
    height: 18px;
    margin-top: .2rem;
    margin-left: .3rem;
    cursor: pointer;
}

.list_temp button:hover{
    background-color: black;
    color: red;
}

.title_form{
    justify-content: center;
    margin: 1rem 
}

.vista_previa{
    background-color: #d9b48d;
    width: 400px;
    height: 400px;
    border-radius: 10%;
    margin-top: 11rem;
    margin-left: 5rem;
}

.vista_name{
    text-align: center;
    font-size: 10px;
    margin: .5rem;
}

.vista_peso{
    text-align: center;
    font-size: 15px;
    margin: .5rem;
}

.vista_life{
    text-align: center;
    font-size: 15px;
    margin: .5rem;
}

.vista_alt{
    text-align: center;
    font-size: 15px;
    margin: .5rem;
}

.vista_img img{
    margin-left: 6.5rem;
    margin-top: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.input{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.input p{
    width: 450px;
    font-weight: lighter;
    margin-top: -.5rem;
    color: red;
    line-height: 2.5;
}
