.container{
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.filter_container{
    padding: 3rem;
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 5px 7px 7px 2px #979797;
    border-radius: 10px;
}

.search_home input{
    background: #d2a678;
    outline: 0;
    box-shadow: 0;
    border: 0!important;
    overflow: hidden;
    border-radius: .25rem;
    font-size: 1rem;
    margin-left: .5rem;
    width: 20em;
    text-align: center;
}

.filter_container input{
    margin: .5rem;
}

.crear_raza button{
    
    margin: 0 55rem;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    color: #7b7b7b!important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .7px;
    box-shadow: 0 5px 12px  #d2a678;
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    font-style: none;
    border-style: none;
    text-decoration: none;
    border-color: #d2a678;
    background-color: transparent;
}

@keyframes anime {
    100%{
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
}