.container_landing{
    width: 100%;
    height: 100vh;
    background-color: #d9b48d;;
}

.title_landing{
    text-align: center;
    padding: 2rem;
}

.img_landing{
    width: 400px;
    height: 400px;
    display: block;
    margin: 2rem auto;

}

.bttn{
    width: 100%;
    height: 100%;
    border: none;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    background-color: black;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-radius: 10px;
    color: white;
}

.btn_landing{
    width: 150px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

