.constiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

select{
    -webkit-appearance: none;
    -maz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: 0;
    border: 0!important;
    background: #d2a678;
    width: 20em;
    overflow: hidden;
    border-radius: .25rem;
    color: #6c6c6c;
    cursor: pointer;
    font-size: 1rem;
    margin-left: .5rem;
}

option{
    text-align: center;
}

select::after{
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #000;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease ;
}

select:hover::after{
    color: black;
}

select::-ms-expand{
    display: none;
}

.nav{
    border-radius: 10px;
    width: 50%;
    margin-left: 5rem;
    margin-right: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 7px 7px 2px #979797;
}

.nav h4{
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
}

.nav select{
    height: 30px;
    margin-top: 1.5rem;
}

.nav_title{
    border-radius: 10px;
    width: 350px;
    height: 80px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 7px 7px 2px #979797;
}

.nav_title h1{
    margin-top: 1rem;
    margin-left: 1rem;
    padding-right: 6rem;
}

.nav_title img{
    margin-top: .2rem;
    width: 90px;
    height: 70px;
    border-radius: 50%;

}