.constiner{
    background-color: green;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}