/* .paginado{
    width: 80%;
    margin: 0 auto;
}

.li_pag{
    background-color: black;
    border-radius: 10%;
    margin: .5rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: yellow;
}

.li_pag:hover{
    background-color: white;
    color: black !important;
}*/

.pag_ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5rem;
}

.li_pag {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: .3rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: #d9b48d;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
    cursor: pointer;
    list-style: none;
}

.li_pag.active,
.li_pag:hover {
    background-color: #d9b48d;
    transition: transform .4s;
    color: white;
}

.span_pag {
    font-size: 1rem;
    font-weight: 700;
}